apiVersion: v1
kind: Service
metadata:
  name: myapp
  namespace: app
spec:
  type: LoadBalancer
  selector:
    app: myapp
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: app
spec:
  replicas: 20
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: ci-cd-master
          image: patricktrp/ci-cd-master:20
          ports:
            - containerPort: 8080
